.simcont {
    padding: 16px;
    opacity: 0;
    transition: opacity .5s;
}

.simcont > canvas {
    padding-left: 4px;
    padding-right: 4px;
    width: 100% !important;
    height: initial !important;
    transition: opacity .5s;
    touch-action: auto !important;
    pointer-events: none;
}

#ctrl_upper {
    display: flex;
    margin: 0;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.ui.header.title {
    font-weight: 500;
}

.btn-sim-setup {
    cursor: pointer;
}

#ctrl_lower {
    margin: 0;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

#select_animtime {
    margin-top: 8px;
}

.ui.dropdown {
    -ms-user-select: none;
    -moz-user-select: -moz-none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    user-select:none;
}

.ui.dropdown > .menu {
    border-color: #3b3f42;
    background-color: #2a2e2fd4;
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
}

.ui.dropdown > .menu > .item {
    color: rgba(191,191,191,.87);
}

.ui.dropdown > .menu > .item:hover {
    color: #fff;
    background-color: #ffffff24;
}

.ui.dropdown > .menu > .item.active.selected {
    color: #fff;
    background-color: #ffffff36;
}

.ui.progress.tiny {
    height: 5px;
    margin-bottom: -5px;
    background-color: #1b1c1d;
    border-radius: 0 !important;
}

.ui.progress .bar {
    background-color: #00dd00;
}

.ui.progress.success .bar {
    background-color: #00dd00 !important;
}

.label-progstep {
    font-size: 12px;
    margin-top: -4px;
}
